trash/
.history/
.vscode/
bin/
obj/
HST/
HST_source/
log/
.DS_Store
experiments/.DS_Store
experiments/satellite/fig/
experiments/scale/fig/
experiments/metaRVM/fig/
experiments/simulations/fig/

experiments/fig/
experiments/fig_backup/
experiments/simulations/*.csv
experiments/simulations/maternSimuData
/*.ipynb
*.txt
*.pdf
/*.sh
*.csv
*.out
*.zip
*.tar
*.err

src/bv-mpi.code-workspace